body {
  height: 100vh;
  background: #6e28d9;
  color: white;
}
section.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 300px;
  height: 100px;
  background-color: aqua;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
}

div.containerModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.705);
  display: none;
  justify-content: center;
  align-items: center;
}

div.modal {
  background-color: rgba(245, 245, 220, 0.788);
  width: 600px;
  height: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 30px;
}
